@page "/project/{Id}"
@inject HttpClient Http
@using GetAnAzureIoTQuickstartApp.Client.Services
@using GetAnAzureIoTQuickstartApp.Client.Components
@inject Services.SamplesClient _SamplesClient
@inject NavigationManager navigationManager
<h1>Hello, world!</h1>
<table border="1">
    <tr><td><b><i>Project/s:</i></b></td><td>
    <button class="btn btn-primary" @onclick="@(e =>  GetFile(@Proj.ProjectFileName))"><b><i>@Proj.ProjectFileName</i></b></button>
</td></tr>
    <tr><td colspan="2">&nbsp;</td></tr>
    @foreach  (var filename in Proj.ProjectCSFileNames)
    {
        @if (filename == Proj.ProjectCSFileNames[0])
        {
            <tr><td><b><i>Source Files:</i></b></td><td>
            <button class="btn btn-primary" @onclick="@(e =>  GetFile(@filename))"><b><i>@filename</i></b></button>
            </td></tr>
        }
        else
        {
            <tr>
                <td></td>
                <td colspan="2">
                    <button class="btn btn-primary" @onclick="@(e =>  GetFile(@filename))"><b><i>@filename</i></b></button>
                </td>
            </tr>

        }

    }
</table>

<ClipBoardComponent Text=@TextToCopy Filename=@FileName />

@code
{
    [Parameter]
    public string Id { get; set; }

    public string TextToCopy { get; set; } = "";
    public string FileName { get; set; } = "";

    ProjectClasses.FolderTree Folder;
    ProjectClasses.Project Proj;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        int id = int.Parse(Id);
        Folder = SamplesClient.FolderDict[id];
        Proj = SamplesClient.ProjectDict[Folder.Projects.First()];
    }

    bool FirstRender = false;
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            base.OnAfterRender(firstRender);
            FileName = Proj.ProjectFileName;
            TextToCopy = "Copy me!nnnnnnnnnnnnnnnnnnnnnnnnnnn\nnnnnnnnn\n\rnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn";
            StateHasChanged();
        }
    }

    string Filecontents;
    async Task  GetFile(string filename)
    {
        string param = $"{filename}~{Folder.Id}";
        Filecontents = await _SamplesClient.GetFile(param);
        TextToCopy = "<!-- " + Proj.ProjectFileName_WithoutText + "-->" + "\n" + Filecontents;
        StateHasChanged();
    }
}
