@page "/project/{Id}"
@inject HttpClient Http
@using GetAnAzureIoTQuickstartApp.Client.Services
@using GetAnAzureIoTQuickstartApp.Client.Components
@inject Services.SamplesClient _SamplesClient
@inject NavigationManager navigationManager
<h2>Project Folder</h2>
<table border="1">
    <tr>
        <td><b><i>Project/s:</i></b></td>
        <td>
            <button class="btn btn-primary" @onclick="@(e =>  GetFile(@Proj.ProjectFileName))"><b><i>@Proj.ProjectFileName</i></b></button>
        </td>
    </tr>
    <tr><td colspan="2">&nbsp;</td></tr>
    @foreach (var filename in Proj.ProjectCSFileNames)
    {
        @if (filename == Proj.ProjectCSFileNames[0])
        {
            <tr>
                <td><b><i>Source Files:</i></b></td>
                <td>
                    <button class="btn btn-primary" @onclick="@(e =>  GetFile(@filename))"><b><i>@filename</i></b></button>
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td></td>
                <td colspan="2">
                    <button class="btn btn-primary" @onclick="@(e =>  GetFile(@filename))"><b><i>@filename</i></b></button>
                </td>
            </tr>

        }

    }
    @foreach (var filename in Proj.OtherCSFileNames)
    {
        @if (filename == Proj.OtherCSFileNames[0])
        {
            <tr>
                <td><b><i>Source Files:</i></b></td>
                <td>
                    <button class="btn btn-primary" @onclick="@(e =>  GetFile(@filename))"><b><i>@filename</i></b></button>
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td></td>
                <td colspan="2">
                    <button class="btn btn-primary" @onclick="@(e =>  GetFile(@filename))"><b><i>@filename</i></b></button>
                </td>
            </tr>

        }
    }
    @foreach (var filename in Folder.SolutionNames)
    {
        @if (filename == Folder.SolutionNames[0])
        {
            <tr>
                <td><b><i>Solution Files:</i></b></td>
                <td>
                    <button class="btn btn-primary" @onclick="@(e =>  GetFile(@filename))"><b><i>@filename</i></b></button>
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td></td>
                <td colspan="2">
                    <button class="btn btn-primary" @onclick="@(e =>  GetFile(@filename))"><b><i>@filename</i></b></button>
                </td>
            </tr>

        }
    }
    @foreach (var filename in Folder.ReadMes)
    {
        @if (filename == Folder.ReadMes[0])
        {
            <tr>
                <td><b><i>ReadMe Files:</i></b></td>
                <td>
                    <button class="btn btn-primary" @onclick="@(e =>  GoToReadMe(@filename))"><b><i>@filename</i></b></button>
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td></td>
                <td colspan="2">
                    <button class="btn btn-primary" @onclick="@(e =>  GoToReadMe(@filename))"><b><i>@filename</i></b></button>
                </td>
            </tr>

        }
    }
    @foreach (var filename in Folder.Images)
    {
        @if (filename == Folder.Images[0])
        {
            <tr>
                <td><b><i>Image Files:</i></b></td>
                <td>
                    <button class="btn btn-primary" @onclick="@(e =>  GoToImage(@filename))"><b><i>@filename</i></b></button>
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td></td>
                <td colspan="2">
                    <button class="btn btn-primary" @onclick="@(e =>  GoToImage(@filename))"><b><i>@filename</i></b></button>
                </td>
            </tr>

        }
    }



    <tr><td colspan="2">&nbsp;</td></tr>
    <tr>
        <td><b><i>@ZipFileName:</i></b></td>
        <td>
            <ZipComponent FolderId=@Folder.Id />
        </td>
    </tr>

</table>

<ClipBoardComponent Text=@TextToCopy Filename=@ShowFileName />

@code
{
    [Parameter]
    public string Id { get; set; }

    public string ShowFileName { get; set; }

    public string TextToCopy { get; set; } = "";
    //public string FileName { get; set; } = "";
    public string ZipFileName { get; set; } = "";

    ProjectClasses.FolderTree Folder;
    ProjectClasses.Project Proj;

    protected override async Task OnInitializedAsync()
    {

        await base.OnInitializedAsync();
        int id = int.Parse(Id);
        Folder = SamplesClient.FolderDict[id];
        Proj = SamplesClient.ProjectDict[Folder.Projects.First()];
        string fn = Proj.ProjectFileName;
        await GetFile(fn);
        ShowFileName = fn;
        ZipFileName = $"{Folder.FolderName}.zip";
        StateHasChanged();
    }

    bool FirstRender = false;
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            base.OnAfterRender(firstRender);
            //FileName = Proj.ProjectFileName;
            //TextToCopy = "File contents here.";
            StateHasChanged();
        }
    }

    string Filecontents;
    async Task  GetFile(string filename)
    {
        ShowFileName = filename;
        string param = $"{filename}~{Folder.Id}";
        Filecontents = await _SamplesClient.GetFile(param);
        TextToCopy = Filecontents;
        // = "<!-- " + Proj.ProjectFileName_WithoutText + "-->" + "\n" + Filecontents;
        //TextToCopy = "// " + Proj.ProjectFileName_WithoutText + "\n" + Filecontents;
        StateHasChanged();
    }

    void GoToReadMe(string filename)
    {
        string target = $"/showreadme/{Folder.Id}/{filename}";
        navigationManager.NavigateTo(target);
    }

    void GoToImage(string filename)
    {
        string target = $"/showimage/{Folder.Id}/{filename}";
        navigationManager.NavigateTo(target);
    }
}
